* {
    font-size: 30px;
    margin: 0;
    font-family: 'Reem Kufi Fun', sans-serif;
    letter-spacing: 0.05em;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    border-bottom: 1px solid black;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.container span a{
    text-decoration: none;
    color: #000000;
}

.logo {
    width: 240px;
}

.btns img {
    margin: 0 30px;
}

.header-btn {
    height: 45px;
    transition: 0.3s;

}
.header-btn:hover{
    transform: scale(1.15);
    transition: 0.3s;
}


.header-item {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #000000;
}
.header-item.active{
    display: inline-block;
    color: #ec0808;
    border-bottom: 3px solid #e50202;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 50px;
}
.header-item:hover{
    color: #D60000;
    transition: 0.3s;
}
/* Main Text */
.main-container{
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Reem Kufi Fun';
}

.levo{
    display: flex;
    justify-content: inherit;
    align-items: center;
    width: 50%;
}
.pravo{
    display: flex;
    justify-content: inherit;
    align-items: center;
    width: 50%;

}
/* SLAYDER */
.swiper-slide img {
    display: block;
    height: 1035px;
    width: 100%;
    float: none;
}



.review-container {
    margin: 0 0 29px 0;
    max-height: 490px;
}


.review-card {
    max-width: 1400px;
    margin: 0 auto;
    display:block;
    width: 83vw;                                         /* !!!!!!!!!!!!!*/
    height: auto;
    border-radius: 8px; 

    text-align: center;
}
.block-of-blocks{
    padding-top: 50px;
    display: flex;
    max-width: 1400px;
    height: 1300px;
    flex-wrap: wrap;
    justify-content: center;
}
.block{
    cursor: pointer;

    margin: 12px 8px;
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 23px;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.block-of-blocks block{
    cursor: pointer;
}
.block:hover{
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.5);
}
.vnutri{
    display: flex;
    height: 265px;
    max-width: 399px;


}
.vnutri img{
    width: 61px;
    height: 253.18px;
    padding-left: 19px;
}

.verh{
    display: flex;
    float: left;

}
.verh img{
    padding-top: 25px;
    padding-left: 25px;
    width: 17px;
    height: 17px;
}
.verh span{
    padding-top: 20px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    float: left;
}
.text{
    display: flex;
    flex-direction: column;
    float: left;
    text-align: left;
    padding-left: 20px;
}

.text span:nth-child(1){
    padding-top: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    width: 200px;
}
.text span:nth-child(2){
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #929292;

}
.text span:nth-child(3){
    padding-top: 24px;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.05em;
}
.text span:nth-child(4){
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.05em;
}
.text span:nth-child(5){
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.22em;
}
.text span:nth-child(6){
    padding-top: 11px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.22em;
    color: #D60000;
}
div#otstup{
    padding: 21px 20px;
}
/* Knopka */
.knopochka{
    background: #D60000;
    border-radius: 17px;
    line-height: 30px;
    display: block;
    justify-content: center;
    margin: auto;
    padding: 5px 50px;
    border: none;
    color: white;
    font-weight: 400;
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.21em;
    text-align: center;
    box-shadow: none;
    cursor: pointer;
}
.knopochka:hover{
    background: #B41B1B;
}
.knopochka:active{
    background: #980C0C;
    border: 1px solid #000000;
}
.knopochka:focus{
    background: #D60000;
    outline: 1px solid #000000;
}
/* Knopka */

/* Konec Slaidera */

.pictures{
    background-image: url(/Verstka/img/fonovoevino2.jpg);
    width: 1400px;
    height: 627px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.39));
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pictures span{
    color: white;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.105em;
    text-shadow: 0px 4px 4px #000000;
    
}

.dopshutchki-container {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
}
.dop {
    width: 100vw;
    margin-bottom: 50px;
    font-weight: 400;

}
.dop img {
    margin-left: 80px;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
}


.dop span {
    max-width: 482px;
    font-size: 18px;
    opacity: 0.75;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.105em;
}
.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    border-top: 1px solid black;
    height: 167px;
}
.puf{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    align-items: center;
    max-width: 616px;
    width: 100%;
}
.puf span{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.105em;
}
.icon{
    display: flex;
    /* margin-left: 26.8%; */
    justify-content: space-around;
    max-width: 249px;
    width: 100%;
}
.icon img{
    cursor: pointer;
}
.paf{
    display: flex;
    max-width: 616px;
    width: 100%;
    justify-content: space-between;
    max-width: 477px;
    margin-right: 7.2%;
}

.adres{
    display: flex;
    flex-direction: column;
    max-width: 210px;
    max-height: 89px;
    text-align: left;
    justify-content: flex-start;
    line-height: 30px;
}

.adres span{
    font-weight: 400;
    font-size: 20px;

}
.adres a{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
}
span#sihik{
    color: #D60000;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.105em;
}
a#nomerok {
    letter-spacing: 0.27em;
}

/* Katalog */
.categories{
    border-bottom: 1px solid black;
    max-width: 1400px;
    margin: 0 auto;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.categories span{
    
    display: inline-block;
    color: #D60000;
    border-bottom: 3px solid #D60000;
    line-height: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.105em;
    font-size: 50px;
}
.categories p{
    font-size: 50px;
    letter-spacing: 0.105em;
    font-weight: 400;
}

/* Bluda */
.block-of-blocks-bluda{
    padding-top: 50px;
    display: flex;
    max-width: 1400px;
    height: 1300px;
    flex-wrap: wrap;
    justify-content: center;
}
.verh-bluda{
    display: flex;
    justify-content: space-between;
}
.verh-bluda img{
    padding: 8px 10px;
    width: 24px;
    height: 24px;
}
.verh-bluda span{
    padding: 8px 0 0 29px;
    width: 257px;
    height: 62px;
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.05em;
}
.edaa{
    width: 320px;
    height: 193.2px;
}
.vnutri-bluda{
    padding-top: 30.8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.23em;
    color: #D60000;
}
.block-bluda{
    margin: 12px 11px;
    width: 320px;
    height: 358px;
    display: flex;
    flex-direction: column;
    border-radius: 23px;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.block-bluda:hover{
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.5);
}
/* Vkladki */
.tab {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 82px;
    border-bottom: 1px solid black;


}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 0.105em;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: #D60000;
}

/* Create an active/current tablink class */
.tab button.active {
    display: inline-block;
    color: #D60000;
    border-bottom: 3px solid #D60000;
    line-height: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/* Style the tab content */

.title{
    cursor: pointer;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0.105em;
}

.title.active{
    display: inline-block;
    color: #ec0808;
    border-bottom: 3px solid #e50202;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 50px;

}

.blockk{
    overflow: hidden;
    max-width: 1400px;
    width: 100%;
    font-size: 50px;
}
.tabcontent {
    padding: 6px 12px;
    border-top: none;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tabcontent-bluda{
    padding: 6px 12px;
    border-top: none;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}
/* Main Vkladka */
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.row{
    list-style: none;
    border-bottom: 1px solid black;
    max-width: 1400px;
    margin: 0 auto;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;

}
.row li{
    transition: 0.3s;
    line-height: 80px;
}
.row li:hover{
    color: #D60000;
}

.content{
    display: none;
    
}

.content.active{
    display: block;
    
}






/* Modalnoe okno */
.okoshko-modul{
    display: flex;
    max-width: 877px;
    width: 100%;
    max-height: 257px;
    height: 100%;
    justify-content: center;
    align-items: center;

}
.pikcha-modul {
    width: 339px;
    height: 214px;
}
.pikcha-modul img{
    display: flex;
border-radius: 25px;
flex-direction: column;
justify-content: center;
align-items: center;
}
.text-modul {
    margin-left: 21px;
    flex-direction: column;
    max-width: 515px;
    width: 100%;
    line-height: 32px;

}
.text-modul span:nth-child(1){
    font-weight: 600;
font-size: 40px;
line-height: 60px;
letter-spacing: 0.04em;
}
.text-modul span:nth-child(2){
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.23em;
    
    color: #929292;
}
.text-modul span:nth-child(3){
    font-size: 20px;
}


.header {
    padding: 10px 0;
    background-color: #000;
  }
  
  .navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .section__title {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .section__button {
    background-color: transparent;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    outline: 2px solid transparent;
    outline-offset: 3px;

  }
  .section__button:focus-visible {
    outline-color: yellow;
  }
  
  .modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    overflow-y: auto;
    display: none;
  }
  
  .modal__main {
    position: relative;
    max-width:875px;
    width: 100%;
    max-height: 257px;
    height: 100%;
    background-color: #fff;
    border: 1px solid #000000;
    margin: auto;
    color: #000;
    border-radius: 55px;
    cursor: default;
    padding: 36px 20px 36px 20px;
  }
  
  
  .modal__container {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .modal__btn {
    background-color: red;
    color: #fff;
    font-size: 26px;
    text-align: center;
    display: block;
    margin: 0 auto; 
    border-radius: 20px;
    border: none;
    padding: 15px 30px;
  }

  
  .modal__close:focus-visible {
    outline-color: green;
  }























/* Konec Main Vkladki */

/*  Анимация */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

@keyframes translate {
    0% {
        transform: translateX(-125%);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width:1400px) {
    .block-of-blocks{
        height: 1700px;
    }
    .block-of-blocks-bluda{
        height: 1535px;
        margin: 12px 23px;
    }
}
@media screen and (max-width:840px) {
    .btns img{
        margin: 0;
    }
    .container{
        flex-wrap: wrap;
    }
    .container-footer {
        flex-wrap: wrap;
        justify-content:space-evenly;
        
    }
    .puf{
        margin: 0;
        max-width: 616px ; 

    }
    .paf{
        max-width: 616px ;
        margin: 0;
    }
    .icon{
        max-width: 210px;
    }
}
@media screen and (max-width:1100px) {
    .block-of-blocks-bluda{
        height: 2330px;
        padding-top: 25px;
        margin: 12px 25px;
    }
    .block-of-blocks{
        height: 2536px;
        justify-content: center;
        padding-top: 25px;
    }
    .tabcontent{
        height: 2565px;
    }

    .block{
        margin: 0 30px;

    }
    .btns img{
        margin: 0;
    }

    /* modalnoe okno */
    .modal__main{
        max-width: 600px;
        max-height: 506px;
    }
    .okoshko-modul{
        max-height: 508px;
        flex-direction: column;
    }
}
@media screen and (max-width:783px) {
    .block-of-blocks-bluda{
        height: 4610px;
        justify-content: center;
        margin: 12px 36px;
    }
    .tabcontent-bluda{
        height: 4660px;
        
    }
    .block-of-blocks{
        height: 5135px;
        justify-content: center;
    }
    .tabcontent{
        height: 5165px;
    }
    .block{
        margin: 0 30px;

    }    
    .vnutri img{
        padding-right: 5px;
    }
    .tab{
        flex-wrap: wrap;
        height: 215px;
    }
    .tab button{
        padding: 10px 6px;
    }
    .pravo{
        width: 450px;
        justify-content: space-between;
        
    }
    .levo{
        width: 450px;
        justify-content: space-between;

    }

    /*shapka*/
    .container {
        flex-direction: column;
        height: 100%;
    }
    .container img{
        padding-top: 25px;
    }
    .header-item {
        margin: 10px 0;
    }

    .btns img{
        margin: 0px 25px 0px 45px;
    }
    /* footer */
    .container-footer {
        flex-direction: column;
        height: 100%;
    }
    .puf{
        flex-direction: column;
        align-items: center;
        margin: 5px 0px;
    }
    .puf span{
        margin-bottom: 10px;

    }
    .paf{
        flex-direction: column;
        align-items: center;
        margin: 5px 0px;

    }
    .adres{
        text-align: center;
        margin-bottom: 5px;
    }
    .adres span{
        margin: 5px 0;
    }
    /* modalnoe okno */
    .modal__main{
        max-width: 600px;
        max-height: 506px;
        padding: 0;
        margin: auto 20px;
    }
    .okoshko-modul{
        max-height: 566px;
        flex-direction: column;
    }
    .modal__main{
        max-height: 611px;
        margin: auto 10px;
        width: 340px;
    }
    .modal{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .text-modul{
        margin: 0;
        padding-left: 10px;
    }
    .text-modul span:nth-child(1){
    font-size: 32px;
    }
    .text-modul span:nth-child(2){

        font-size: 24px;
    }
    .text-modul span:nth-child(3){
        font-size: 18px;
    }
    .pikcha-modul img{
        margin-top: 10px;
        width: 274px;
        height: 173px;
    }
    .pikcha-modul{
        display: flex;
        justify-content: center;
    }
}


/* Modalnoe okno */

