* {
    font-size: 30px;
    margin: 0;
    font-family: 'Reem Kufi Fun', sans-serif;
    letter-spacing: 0.05em;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    border-bottom: 1px solid black;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container span a{
    text-decoration: none;
    color: #000000;
}
.container img{
    cursor: pointer;
}
.logo {
    width: 240px;
}

.btns img {
    margin: 0 30px;
}
/* .btns img:hover{
    border: 1px solid black ;
    height: 10px;

} */

.header-btn {
    height: 45px;
    transition: 0.3s;
}
.header-btn:hover{
    transform: scale(1.15);
    transition: 0.3s;
}

.header-item {
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 45px;
letter-spacing: 0.05em;
text-decoration: none;
color: #000000;
}
.header-item.active{
    display: inline-block;
    color: #ec0808;
    border-bottom: 3px solid #e50202;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 50px;
}
.header-item:hover{
    color: #D60000;
    transition: 0.3s;
}

/* Main Text */
.main-container{
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Reem Kufi Fun';
}
.main-text{
    margin-left: 10px;

}
.main-text h3{
    padding-top: 30px;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;


}
.main-text p{
    max-width: 734px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.05em;
}

/* SLAYDER */
.slider-container {
    max-width: 1400px;
}
.swiper-slide img {
    display: block;
    height: 1035px;
    width: 100%;
    float: none;
}

.swiper-knopochkas {
    display: flex;
    justify-content: space-between;
    float: none;
    position: relative;
    top:205px;
    margin: 0;
    z-index: 2;

    
}

.swiper-knopochka {
    transition: .2s;
    padding: 5px 5px;
}

.swiper-knopochka:hover {
    cursor: pointer;
    transform: scale(.9);
}

.swiper-knopochkas img {
    width: 35px;
}
.review-container {
    margin: 0 0 29px 0;
    max-height: 490px;

}
.swiper {
    max-height: auto;
}
.mySwiper {
    max-height: 490px;

}

.review-card {
    max-width: 1400px;
    width: 100%;
    display:flex;
    height: auto;
    border-radius: 8px; 
    justify-content: space-between;
}
.block-of-blocks{
    padding-top: 10px;
    display: flex;
    max-width: 1400px;
    width: 100%;
    height: 410px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.block{
    width: 320px;   /*width: fit-content*/
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 23px;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
    
}
.block:hover{
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.5);

}
.vnutri{
    display: flex;
    height: 265px;
    max-width: 399px;


}
.vnutri img{
    width: 61px;
    height: 253.18px;
    padding-left: 19px;
}

.verh{
    display: flex;
    float: left;

}
.verh img{
    padding-top: 25px;
    padding-left: 25px;
    width: 17px;
    height: 17px;
}
.verh span{
    padding-top: 20px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    float: left;
}
.text{
    display: flex;
    flex-direction: column;
    float: left;
    text-align: left;
    padding-left: 20px;
}

.text span:nth-child(1){
    padding-top: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    width: 200px;
}
.text span:nth-child(2){
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #929292;

}
.text span:nth-child(3){
    padding-top: 24px;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.05em;
}
.text span:nth-child(4){
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.05em;
}
.text span:nth-child(5){
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.22em;
}
.text span:nth-child(6){
    padding-top: 11px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.22em;
    color: #D60000;
}
div#otstup{
    padding: 21px 25px;
}

/* Knopka */
.knopochka{
    background: #D60000;
    border-radius: 17px;
    line-height: 30px;
    display: block;
    justify-content: center;
    margin: auto;
    padding: 5px 50px;
    border: none;
    color: white;
    font-weight: 400;
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.21em;
    text-align: center;
    box-shadow: none;
    cursor: pointer;
}
.knopochka:hover{
    background: #B41B1B;
}
.knopochka:active{
    background: #980C0C;
    border: 1px solid #000000;
}
.knopochka:focus{
    background: #D60000;
    outline: 1px solid #000000;
}
/* Knopka */

/* Konec Slaidera */

.pictures{
    background-image: url(../img/fonovoevino2.jpg);
    max-width: 1400px;
    min-height: 668px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.39));
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: top center; 
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;  
}

.pictures span{
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.105em;
    text-shadow: 0px 4px 4px #000000;
    
}

.dopshutchki-container {
    margin: 60px 38px 60px 80px;
    display: flex;
    justify-content: space-between;
}
.dop {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.dop span {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.105em;
    padding-left: 12px;
}
/* FOOOTER */
.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    border-top: 1px solid black;
    height: 167px;
}
.puf{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    align-items: center;
    max-width: 616px;
    width: 100%;
}
.puf span{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.105em;
}
.icon{
    display: flex;
    /* margin-left: 26.8%; */
    justify-content: space-around;
    max-width: 249px;
    width: 100%;
}
.paf{
    display: flex;
    max-width: 616px;
    width: 100%;
    justify-content: space-between;
    max-width: 477px;
    margin-right: 7.2%;
}

.adres{
    display: flex;
    flex-direction: column;
    max-width: 210px;
    max-height: 89px;
    text-align: left;
    justify-content: flex-start;
    line-height: 30px;
}

.adres span{
    font-weight: 400;
    font-size: 20px;

}
.adres a{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
}
span#sihik{
    color: #D60000;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.105em;
}
a#nomerok {
    letter-spacing: 0.27em;
}
/* Bluda */
.verh-bluda{
    display: flex;
    justify-content: space-between;
}
.verh-bluda img{
    padding: 8px 10px;
    width: 24px;
    height: 24px;
}
.verh-bluda span{
    padding: 8px 0 0 29px;
    width: 257px;
    height: 62px;
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.05em;
}
.edaa{
    background-image: url(../img/eda.jpg);
    width: 320px;
    height: 193.2px;
}
.vnutri-bluda{
    padding-top: 30.8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.23em;
    color: #D60000;
}
.block-bluda{
    width: 320px;
    height: 358px;
    display: flex;
    flex-direction: column;
    border-radius: 23px;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.block-bluda:hover{
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.5);
    border: 5px solid #000000;

}
.prev{
    position: absolute;
    bottom: 205px;
    left: 11px;
    z-index: 2;

}
.next{
    position: absolute;
    bottom: 205px;
    right: 11px;
    z-index: 2;
}


/* 404 */

.errorka{
    background: url(../img/404.jpg);
    background-size: 100% 100vh;
    width: 100vw;
    height: 100vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.39));
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: top center; 
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.errorka p{
    color: white;
    font-weight: 400;
    font-size: 128px;
    line-height: 192px;
    height: 141px;
    
}
.errorka h1{
    color: white;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
}
.errorka h2{
    font-weight: 400;

    color: white;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    max-width: 656px;
    max-height: 72px;
    letter-spacing: -0.04em;
}
.errorka a{
color: #D60000;
font-size: 24px;
line-height: 36px;
text-align: center;
max-width: 656px;
max-height: 72px;
letter-spacing: -0.04em;
}
/* 404 end */

@media screen and (max-width:1350px) {

    .block{
        margin: 0 auto;
        max-width: 100%;
    }
    .swiper-knopochkas{
        display: none;
    }


}


@media screen and (max-width:959px) {

    .block-of-blocks{
        padding-top: 10px;
        height: 840px;
        max-height: 840px;
        
    }
    .block{
        margin: 0 9px;
        max-width: 100%;
    }
    .swiper-knopochkas{
        display: none;
    }
    .review-container{
        height: 820px;
        max-height: 820px;

    }
    .swiper {
        max-height: 871px;
    }

    .prev{
        bottom: 414px;
        left: 11px;   
    }
    .next{
        bottom: 414px;
        right: 11px;
    }
}
@media (min-width: 960px) and (max-width: 1344px) {
    .block-of-blocks{
        padding-top: 10px;
        height: 840px;
        max-height: 840px;
        
    }
    .block{
        margin: 0 auto;
        max-width: 100%;
    }
    .swiper-knopochkas{
        display: none;
    }
    .review-container{
        height: 820px;
        max-height: 820px;

    }
    .swiper {
        max-height: 871px;
    }

    .prev{
        bottom: 414px;
        left: 11px;   
    }
    .next{
        bottom: 414px;
        right: 11px;
    }
}
@media screen and (max-width:840px) {
    .main-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .btns img{
        margin: 0;
    }
    .container{
        flex-wrap: wrap;
    }
    .container-footer {
        flex-wrap: wrap;
        justify-content:space-evenly;
        
    }
    .puf{
        margin: 0;
        max-width: 616px ; 

    }
    .paf{
        max-width: 616px ;
        margin: 0;
    }
    .icon{
        max-width: 210px;
    }


}
@media screen and (max-width:692px) {
    .errorka{
        width: 100vw;
        height: 100vh;
    /* 404 end */
    }
    .container {
        flex-direction: column;
        height: 100%;
    }
    .container img{
        padding-top: 25px;
    }
    .header-item {
        margin: 10px 0;
    }

    .btns img{
        margin: 0px 25px 0px 45px;
    }
    .block-of-blocks{
        padding-top: 10px;
        max-height: 1657px;
        height: 1657px;
    }
    .block{
        margin: 0 14px;
        max-width: 100%;
    }
    .prev{
        display: none;
    }
    .next{
        display: none;
    }
    .review-container{
        height: 1660px;
        max-height: 1660px;

    }
    .swiper {
        max-height: 1660px;
    }
    .dopshutchki-container{
        margin: 20px 0px 20px 20px;
        flex-direction: column;
    }

    /* footer */
    .container-footer {
        flex-direction: column;
        height: 100%;
    }
    .puf{
        flex-direction: column;
        align-items: center;
        margin: 5px 0px;
    }
    .puf span{
        margin-bottom: 10px;

    }
    .paf{
        flex-direction: column;
        align-items: center;
        margin: 5px 0px;

    }
    .adres{
        text-align: center;
        margin-bottom: 5px;
    }
    .adres span{
        margin: 5px 0;
    }

}
